@use "ngx-toastr/toastr";
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@layer tailwind-base, primeng, tailwind-utilities;
@layer tailwind-base {
  @tailwind base;
}
@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
@layer base {
  :root {
    --background: 253 44% 98%;
    --foreground: 253 58% 0%;
    --muted: 253 7% 87%;
    --muted-foreground: 253 13% 37%;
    --popover: 253 44% 98%;
    --popover-foreground: 253 58% 0%;
    --card: 253 44% 97%;
    --card-foreground: 0 0% 0%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 253 91% 58%;
    --primary-foreground: 253 91% 98%;
    --secondary: 253 5% 89%;
    --secondary-foreground: 253 5% 29%;
    --accent: 253 12% 82%;
    --accent-foreground: 253 12% 22%;
    --destructive: 339.2 94.87% 48.16%;
    --destructive-foreground: 0 0% 100%;
    --ring: 253 91% 58%;
    --chart-1: 253 91% 58%;
    --chart-2: 253 5% 89%;
    --chart-3: 253 12% 82%;
    --chart-4: 253 5% 92%;
    --chart-5: 253 94% 58%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 253 43% 3%;
    --foreground: 253 31% 98%;
    --muted: 253 7% 13%;
    --muted-foreground: 253 13% 63%;
    --popover: 253 43% 3%;
    --popover-foreground: 253 31% 98%;
    --card: 253 43% 4%;
    --card-foreground: 253 31% 99%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 253 91% 58%;
    --primary-foreground: 253 91% 98%;
    --secondary: 253 7% 9%;
    --secondary-foreground: 253 7% 69%;
    --accent: 253 13% 14%;
    --accent-foreground: 253 13% 74%;
    --destructive: 339.2 90.36% 51.18%;
    --destructive-foreground: 0 0% 100%;
    --ring: 253 91% 58%;
    --chart-1: 253 91% 58%;
    --chart-2: 253 7% 9%;
    --chart-3: 253 13% 14%;
    --chart-4: 253 7% 12%;
    --chart-5: 253 94% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    font-family: "Bai Jamjuree", serif;
    @apply text-lg min-h-dvh flex flex-col;
  }

  label {
    @apply text-sm;
  }

  input,
  button {
    @apply h-11 rounded-md border focus:border-2 border-primary outline-none px-3;
  }
  input {
    @apply w-full;
  }
  select {
    @apply h-11 outline-none;
  }

  li {
    @apply list-none;
  }
}

@layer components {
  .linkActive {
    @apply text-primary hover:underline decoration-2 underline-offset-4;
  }



  .bg-linear {
    background-image: linear-gradient(
      to right top,
      #5d32f5,
      #633bf3,
      #6943f2,
      #6e4af0,
      #7351ee
    );
  }
}

.toast-container .ngx-toastr {
  @apply w-auto rounded-lg shadow-none;
}
