@let userName = user$ | async; @let contacts = contacts$ | async;

<main class="grid grid-cols-[15%_1fr] min-h-dvh">
  <div class="flex flex-col h-full p-5">
    <h1 class="flex items-center gap-2 font-medium text-primary">
      <lucide-icon [img]="icons.LayoutDashboard" />
      Dashboard
    </h1>
    <ul
      class="mt-10 space-y-5 [&>li]:flex [&>li]:gap-2 [&>li]:items-center [&>li]:cursor-pointer font-medium"
    >
      <li>
        <lucide-icon [img]="icons.Heart" />
        <p class="hover:text-primary">Favorites</p>
      </li>
      <li>
        <lucide-icon class="animate-slow-spin" [img]="icons.Settings" />
        <p class="hover:text-primary">Settings</p>
      </li>
    </ul>
    <div class="flex items-center gap-4 mt-auto">
      <img
        class="w-8 h-8 p-1 rounded-full ring-2 ring-primary"
        src="https://avatar.vercel.sh/rauchg?rounded=8"
        alt="Bordered avatar"
      />
      <div class="font-medium">
        <div>{{userName?.user_metadata?.["username"]}}</div>
      </div>
    </div>
  </div>
  <section class="p-5 border-l border-gray-400 bg-secondary/10">
    <div class="flex items-center justify-between">
      <div>
        <h1 class="flex items-center gap-2 text-2xl font-semibold">  <lucide-icon [img]="icons.Contact" />Contacts</h1>
        <p class="text-base">
          Showing
          <span class="font-semibold text-primary">
            {{ contacts?.data?.length }}</span
          >
          of
          <span class="font-semibold text-destructive">
            {{ contacts?.data?.length }}</span
          >
          contacts
        </p>
      </div>
      <div class="flex items-center justify-between gap-5">
        <input
          type="search"
          pInputText
          [(ngModel)]="filterTerm"
          name="filterTerm"
          (input)="onSearch()"
          placeholder="Search by name"
          class="w-[300px]"
        />
        <p class="p-2 rounded-lg bg-primary/20">
          <lucide-icon class="text-primary" [img]="icons.Menu" />
        </p>
        <p class="p-2 rounded-lg bg-primary/20">
          <lucide-icon class="text-primary" [img]="icons.Grip" />
        </p>
        <p-button label="New Contact">
          <lucide-icon [img]="icons.UserPlus" />
        </p-button>
      </div>
    </div>
    <div class="grid gap-5 mt-10 text-base card-auto-fit">
      @if (!contacts) {
      <app-loader />
      } @for (contact of (contacts?.data ?? []) | contactFilter:filterTerm;
      track contact.id ) {
      <app-contact-card [contact]="contact" />

      }@if(contacts?.error) {
      <p>No data found</p>
      }
    </div>
  </section>
</main>
